/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0d1117;
    color: #e6edf3;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 50px;
    position: sticky;
    top: 0;
    background: #0d1117;
    border-bottom: 1px solid #30363d;
    z-index: 100;
}

.nav-logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links li {
    display: inline;
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #8b949e;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #58a6ff;
}

/* HERO */
.hero-section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #ffffff;
}

.hero-content p {
    font-size: 18px;
    color: #8b949e;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 28px;
    border-radius: 6px;
    background-color: #238636;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #2ea043;
}

/* SECTION */
.section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

/* SKILLS */
.skills-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills-grid span {
    background: #161b22;
    padding: 10px 18px;
    border-radius: 6px;
    border: 1px solid #30363d;
    color: #e6edf3;
    transition: 0.3s ease;
}

.skills-grid span:hover {
    border-color: #58a6ff;
}

/* PROJECT CARD */
.project-card {
    background: #161b22;
    padding: 25px;
    margin: 18px auto;
    border-radius: 8px;
    border: 1px solid #30363d;
    max-width: 750px;
    text-align: left;
    transition: 0.3s ease;
}

.project-card:hover {
    border-color: #58a6ff;
    transform: translateY(-5px);
}

.project-card h3 {
    margin-bottom: 10px;
    color: #58a6ff;
}

.project-card p {
    color: #8b949e;
}

.project-card a {
    display: inline-block;
    margin-top: 12px;
    padding: 6px 16px;
    background: #21262d;
    border: 1px solid #30363d;
    border-radius: 6px;
    text-decoration: none;
    color: #58a6ff;
    transition: 0.3s ease;
}

.project-card a:hover {
    background: #30363d;
}

/* CONTACT */
.contact-section a {
    color: #58a6ff;
    text-decoration: none;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 25px;
    background: #0d1117;
    border-top: 1px solid #30363d;
    color: #8b949e;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .navbar {
        padding: 15px 20px;
    }
}
